*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
}
nav,.navitem>ul{
    display: flex;
}
.group1{
display: flex;
}
.navitem ,ul>li{
    /* display: flex; */
    display: block;
}
li,a{
    text-decoration: none;
   font-size: 40px; 
}