*{
    margin: 0;
    padding: 0;
}

/* section-1 */
/* font start */
@font-face{
    font-family: 'hvd poster';
    src: url(./asset/font/HVD\ Poster.ttf);
}
/* font end */
.container{
    margin: 0 auto;
    width: 1365px;
    background-color: #f0b52b;
}
#navbar{
    background-color:#3752a5;
}
.logo{
    display: flex;
    padding: 30px 0px 30px 35px ;
}
#navbar,.ml-a{
    display: flex;
}
.ml-a {
margin-left: auto;
align-items: center;
padding-right: 80px;
}
.ml-a li a{
    text-decoration: none;
    color: #faf8f8;
   padding-right: 80px;
}
.ml-a li{
    display: inline-block;
}
.icon{
    color: #faf8f8;
    padding-right: 10px;
}
.col-50{
    width: 50%;
}
.page-1{
    display: flex;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.back{

font-size: 148px;
line-height: 129px;
color: #3c54a0;
font-weight: 400;
font-family: "HVD Poster";
text-align: center;
padding-left: 225px;
}
.to{
    font-size: 60px;
color: #c8206a;
font-weight: 400;
font-family: "HVD Poster";
text-align: center;
margin-left: 350px;
top: 500px;
}
.school{
    font-size: 119px;
line-height: 104px;
color: #3c54a0;
font-weight: 400;
font-family: "HVD Poster";
text-align: center;
padding-left:200px;
margin-top: 5px;

}
.backtoschool{
    padding-top: 300px;
    align-items: center;
}
.bodytext{
   color: #c8206a; 
  width:350px;
  padding: 30px 0px 0px 260px;
}
.img1{
    padding-top: 150px;
 margin-right: 89px;
}
/* section-2 */
.letsgo{
    color: #c8206a;  
    font-family: "HVD Poster"; 
    font-size: 148px;
    line-height: 104px;
    text-align: center;
    top: 325px;
    right: 440px;
}
.backgroundimg > img {
    background-size: cover;
    width: 100%;
}
.TIMETOKNOWLEDGE{
    color: #dadfee;  
    font-size: 38px;
    line-height: 104px;
    text-align: center;
    top: 430px;
    right: 512px;
    font-family: sans-serif;
}
.learnnow{
    width: 290px;
    border-radius: 70px;
    background-color:#c8206a ;
    border: 20px solid transparent;
    text-align: center;
    color: #eaeaea;
    font-size: 35px;
    top: 540px;
    right: 572px;
}

/* section-3 */

.third-box{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
}
.mainbox{
    background-color:#3752a5 ;
    border-radius:150px 0px 150px 150px  ;
    padding: 120px 0px 170px 50px;
   width: 482px;
   height: 140px;
    margin: 10px 5px 0px 200px;
}
.thear{
    margin-left: 50px;
    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Josefin Sans";
    text-align: left;
}
.btext{
    width: 330px;
    margin:20px 0px 0px 50px;
    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Josefin Sans";
    text-align: left;
}
.allbox{
   margin: 10px 10px 10px 10px;
    width: 208px ;
    height: 200px;
}
.allbox>img{
width: 100%;
display: block;
}
.smallbox{
    display: flex;
flex-wrap: wrap;
margin-left: 5px;
   
}
