* {
  margin: 0;
  padding: 0;
}

/* section-1 */
/* font start */
@font-face {
  font-family: "hvd poster";
  src: url(./asset/font/HVD\ Poster.ttf);
}
/* font end */
.container {
  width: 1365px;
  margin: 0 auto;
  background-color: #f0b52b;
}

.bg{
  background-color: #f0b52b;

}
#navbar {
  background-color: #3752a5;
}
.logo {
  display: flex;
  padding: 30px 0px 30px 35px;
}
#navbar,
.ml-a {
  display: flex;
}
.ml-a {
  margin-left: auto;
  align-items: center;
  padding-right: 80px;
}
.ml-a li a {
  text-decoration: none;
  color: #faf8f8;
  padding-right: 80px;
}
.ml-a li {
  display: inline-block;
}
.icon {
  color: #faf8f8;
  padding-right: 10px;
}
.col-50 {
  width: 50%;
}
.page-1 {
  display: flex;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.back {
  font-size: 148px;
  line-height: 129px;
  color: #3c54a0;
  font-weight: 400;
  font-family: "HVD Poster";
  text-align: center;
  padding-left: 225px;
}
.to {
  font-size: 60px;
  color: #c8206a;
  font-weight: 400;
  font-family: "HVD Poster";
  text-align: center;
  margin-left: 350px;
  top: 500px;
}
.school {
  font-size: 119px;
  line-height: 104px;
  color: #3c54a0;
  font-weight: 400;
  font-family: "HVD Poster";
  text-align: center;
  padding-left: 200px;
  margin-top: 5px;
}
.backtoschool {
  padding-top: 300px;
  align-items: center;
}
.bodytext {
  color: #c8206a;
  width: 350px;
  padding: 30px 0px 0px 260px;
}
.img1 {
  padding-top: 150px;
  margin-right: 89px;
}
/* section-2 */
.letsgo {
  color: #c8206a;
  font-family: "HVD Poster";
  font-size: 148px;
  line-height: 104px;
  text-align: center;
  top: 325px;
  right: 440px;
}
.backgroundimg > img {
  background-size: cover;
  width: 100%;
}
.TIMETOKNOWLEDGE {
  color: #dadfee;
  font-size: 38px;
  line-height: 104px;
  text-align: center;
  top: 430px;
  right: 512px;
  font-family: sans-serif;
}
.learnnow {
  width: 290px;
  border-radius: 70px;
  background-color: #c8206a;
  border: 20px solid transparent;
  text-align: center;
  color: #eaeaea;
  font-size: 35px;
  top: 540px;
  right: 572px;
}

/* section-3 */

.third-box {
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
}
.mainbox {
  background-color: #3752a5;
  border-radius: 150px 0px 150px 150px;
  padding: 120px 0px 170px 50px;
  width: 482px;
  height: 140px;
  margin: 10px 5px 0px 200px;
}
.thear {
  margin-left: 50px;
  font-size: 29px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Josefin Sans";
  text-align: left;
}
.btext {
  width: 330px;
  margin: 20px 0px 0px 50px;
  font-size: 29px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Josefin Sans";
  text-align: left;
}
.allbox {
  margin: 10px 10px 10px 10px;
  width: 208px;
  height: 200px;
}
.allbox > img {
  width: 100%;
  display: block;
}
.smallbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
/* section-4 */
.earthimg {
  margin: auto 127px;
  background-image: url(./asset/img/earth\ img.png);
  background-size: 1121px;
  background-repeat: no-repeat;
  height: 1000px;
}
.mind {
  font-size: 75px;
  color: #3752a5;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
  width: 695px;
  padding-top: 400px;
  padding-left: 235px;
}
/* section-5 */
.container-rep {
  background-color: #eea924;
  margin: 0 auto;
  width: 1365px;
}
.page-5 {
  display: flex;
  margin-left: 140px;
  padding: 150px 0px 150px 0px;
}
.box {
  width: 360px;
  height: 435px;
  margin: 30px 0px 0px 10px;
  background-color: #ededed;
  border-radius: 30px;
  overflow: hidden;
  transition: all 2s;
}
.box > h2 {
  font-size: 34px;
  color: #3752a5;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
  background-color: #dfdfdf;
  padding: 7px 0px 0px 7px;
}
.box > p {
  width: 360px;
  transition: all 1s;
  padding: 140px 0px 140px 0px;
  font-size: 21px;
  font-weight: 400;
  color: #3752a5;
  font-family: "Josefin Sans";
  text-align: center;
}
.box > h2:hover {
  color: rgb(212, 199, 201);
  background-color: #3c54a0;
}
.box:hover {
  background-color: #3c54a0;
}
.box:hover p {
  color: rgb(212, 199, 201);
}
/* section-6 */
.page-6 {
  display: flex;
  padding-top: 120px;
}
.page6img {
  padding-left: 130px;
  margin-bottom: -4px;
}
.page6text > p {
  width: 479px;
  font-size: 21px;
  color: #3752a5;
  font-weight: 400;
  font-family: "Josefin Sans";

  padding-top: 50px;
}

.page6text > h1 {
  font-size: 58px;
  color: #3752a5;
  font-weight: 700;
  font-family: "Josefin Sans";
  padding-top: 50px;
}
.readmore {
  margin-top: 50px;
  width: 150px;
  border-radius: 50px;
  background-color: #3752a5;
  border: 10px solid transparent;
  text-align: center;
  color: #eaeaea;
  font-size: 20px;
}
/* section-7 */
.bg7 {
  opacity: 0.902;
  width: 1160px;
  height: 527px;
  border-radius: 83px;
  background-color: #3752a5;
}
.page-7 {
  background-image: url(./asset/img/pge7img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 770px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  display: flex;
  margin: 0 auto;
}
.row {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 220px 0px 0px 200px;
}
.col_25 {
  width: 25%;
}
.col_25 > h2 {
  color: #d3c333;
  font-size: 75px;
}
.col_25 > p {
  font-size: 30px;
  color: #d3c333;
  padding-left: 55px;
}
/* section-8 */

.row8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding: 220px 0px 0px 30px;
}
.img8 {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}
.img8 > img {
  width: 100%;
  display: block;
}
.col_33 {
  width: 33.33%;
  text-align: center;
}
.col_33 > p {
  width: 300px;
  font-size: 17px;
  color: #3752a5;
  font-weight: 400;
  font-family: "Josefin Sans";
  text-align: center;
}
.col_33 > h2 {
  width: 314px;
  font-size: 38px;
  color: #3752a5;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
}
/* section-9 */
.page-9 {
  padding: 250px 0px 0px 480px;
}
.page-9 > h2 {
  width: 410px;
  font-size: 38px;
  color: #3752a5;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
}
.page-9 > p {
  width: 440px;
  font-size: 21px;
  color: #3752a5;
  font-weight: 400;
  font-family: "Josefin Sans";
  text-align: center;
  margin-bottom: 85px;
}
.btn-9 {
  margin-left: -52px;
  opacity: 0.902;
  width: 542px;
  height: 50px;
  border-radius: 22px;
  background-color: #ededed;
  border-color: transparent;
}
input::placeholder {
  font-size: 32px;
  padding-left: 30px;
}
.s-icon {
  bottom: 20px;
  right: 415px;
}
/* section-10 */
.container-10 {
  margin: 0 auto;
  width: 1365px;
  background-color: #3752a5;
}
.page-10 {
  display: flex;
  height: 285px;
}
.f-div {
  padding: 150px 0px 0px 200px;
}
.s-div {
  padding: 100px 0px 0px 135px;
}
.f-div > h5 {
  width: 235px;
  font-size: 21px;
  line-height: 33px;
  text-transform: uppercase;
  color: #eaeaea;
  font-weight: 400;
  font-family: "Josefin Sans";
}
.f-div > p {
  width: 350px;
  font-size: 21px;
  color: #eaeaea;
  font-weight: 400;
  font-family: "Josefin Sans";
}
.s-div > p {
  width: 161px;
  height: 32px;
  font-size: 21px;
  line-height: 38px;
  color: #eaeaea;
  font-weight: 400;
  font-family: "Josefin Sans";
}
.hr10 {
  width: 970px;
  margin: 20px 0px 15px 195px;
}
.icons10 {
  display: flex;
  justify-content: end;
  padding:20px 186px 72px 0px; 
}
.icons {
  text-decoration: none;
  display: block;
}
.icons10 > li {
  display: inline-block;
}
